<div id="pie-container" class="relative hidden flex flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
    <div class="relative mx-4 mt-4 flex flex-col gap-4 overflow-hidden rounded-none bg-transparent bg-clip-border text-gray-700 shadow-none md:flex-row md:items-center">
      <div class="hidden w-max rounded-lg bg-gray-900 p-5 text-white">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          class="h-6 w-6 "
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.429 9.75L2.25 12l4.179 2.25m0-4.5l5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0l4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0l-5.571 3-5.571-3"
          ></path>
        </svg>
      </div>
      <div>
        <h6 class="block font-sans text-base font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased">
          2025 Profit & Loss Chart
        </h6>
        <p class="block max-w-sm font-sans text-sm font-normal leading-normal text-gray-700 antialiased">
          Visualize your data in a simple way 
        </p>
      </div>
      <label class="block text-sm">
        
        <select id="pie-year" name="year" class="block w-full p-2  text-sm border-2 rounded-md focus:border-slate-300 form-select focus:outline-none focus:shadow-outline-green text-slate-600 shadow-lg">
            <option selected disabled>Select Year</option>
            
        </select>
      </label>
    </div>
    <div class="py-6  grid place-items-center px-2">
      <div id="pie-chart"></div>
    </div>
  </div>
   
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script>

    function getYear2(){
      const yearSelect = document.getElementById('pie-year');
      const currentYear = new Date().getFullYear();
       const startYear = currentYear - 5; // 10 years before the current year
      //const endYear = currentYear + 5;  // 10 years after the current year
      
      for (let year = startYear; year <= currentYear; year++ ) {
          val = String(year).slice(2);
          const option = document.createElement('option');
          option.textContent = year;
          option.value = year;
          yearSelect.appendChild(option);
      }

    }

    function PieChart(year) {
        $.ajax({
            url: "{% url 'main:PieChart' %}",
            data: { year: year },
            success: function (response) {
                if (response) {
                  $("#pie-chart").empty()
                  $("#cy").text(response.year)

                    // console.log(data);
                  InitPieChart(response.list)
                   
                }
            },
            error: function (err) {
                console.error("Error fetching data:", err);
            }
        });
    }

    function InitPieChart(data){

      if(data.length > 0){
        $("#pie-container").show('slow')
      }

      let chartConfig = {
        series: data, //[44, 55,  13, 43, 22],
        chart: {
          type: "pie",
          width: 280,
          height: 245,
          toolbar: {
            show: false,
          },
        },
        title: {
          show: "",
        },
        dataLabels: {
          enabled: true,
          formatter: function (val, opts) {
            return opts.w.globals.labels[opts.seriesIndex] + ": " + val.toFixed(1) + "%";
          },
        },
        colors: ["#00897b", "#020617", "#ff8f00",  "#1e88e5", "#d81b60"],
        legend: {
          show: false,
        },
         labels: ["Profit", "Loss", /*"Slice 3", "Slice 4", "Slice 5", "Slice 6"*/],
      };
       
      let chart = new ApexCharts(document.querySelector("#pie-chart"), chartConfig);
       
      chart.render();
    }

    $(document).ready( function(){
        getYear2()
        const year = $("#pie-year").val();
        PieChart(year);

    })

    $("#pie-year").on("change", function(){
      const year = $("#pie-year").val();
        PieChart(year);

    })
  </script>